{% extends "notes/base.html" %} 
{% load markdownify %}
{% load static %}
 
{% block title %}Notes - {{ Notes.title }}{% endblock %} 
 {% block head %}
<script src="{% static 'js/notes_detail.js' %}" defer></script>
{% endblock %} {% block content %}
<h3>{{ notes.title }}
    <small>
      <a href="{% url 'notes_edit' pk=note.pk %}">Edit</a>
      <a href="{% url 'notes_delete' pk=note.pk %}" class="text-danger" method="POST">Delete</a>
    </small>
</h3>
{% if notes.description %}
<p>
    {{ notes.description }}
</p>
{% endif %}
<ol>
    {% for item in note.items.all %}
    <li class="notes-item" id="notes-list-{{ item.pk }}">
        <span class="notes-item-body">{{ item.body|markdownify }}</span>
        <form action="{% url 'notes_edit' pk=item.pk %}" method="POST" class="item-edit-form" id="item-edit-form-{{ item.pk }}">
            {% csrf_token %}
            <input class="item-edit-input" type="text" name="body" value="{{ item.body }}">
        </form>
        <a class="item-edit-link" href="#" data-item-pk="{{ item.pk }}">Edit</a>
    </li>
    {% endfor %}
</ol>

<h4>Add a new item to your notes</h4>
<form action="" method="POST">
    {% csrf_token %} 
    {{ item_form }}
    <button type="submit">Add item</button>
</form>
{% endblock %}