{% extends 'notes/base.html' %} 
{% load static %}

{% block content %}

<h1>"{{note.title}}"</h1>

<p class="warning">Are you sure you want to delete this note?</p>
<p class="warning">This will be permanately deleted.</p>
<form action="" method="POST">
    
    {% csrf_token %}
    <div id="buttons">
        <button id="delete-button" type="submit" class="button-dander"Delete</button>
        <button type="submit" id="cancel-button"><a href="/notes/{{ note.pk }}">Cancel</a></button>

    </div>

</form>
{% endblock %}